html {
    background-color: cyan;

}

/* Styling the header */
h1 {
    text-align: center;
    font-size: 50px;
    font-style: bold;
    border: 10px solid yellowgreen;
}

body {
    justify-content: space-evenly;
    margin: 30px;
}


/* Styling the products */

main {
    display: flex;
}

section {
    position: relative;
    text-align: center;
    margin: 100px;
}

/* Price and picture styling */
.item {
    font-size: 25px;
    border: 5px solid black;
}

.item img {
    height: 300px;
    width: 300px;
    border: 5px solid red;
    margin-bottom: 10px;
}
